<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="Layout :: head">
<src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js">
</script>
</head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<body class="nav-md">
	<div class="container body">
		<div class="main_container">
			<!-- Menu navigation -->
			<div class="col-md-3 left_col" th:replace="Layout :: left_col"></div>

			<!-- top navigation -->
			<div class="top_nav" th:replace="Layout :: top_nav"></div>
			<!-- /top navigation -->

			<!-- page content -->
			<div class="right_col" role="main">
				<div class="">
					<div class="page-title">
						<div class="title_left">
							<h3>
								Cá Giống Nổi bật
							</h3>
						</div>

						<div class="title_right"></div>
					</div>

					<div class="clearfix"></div>

					<div class="row">
						<div class="col-md-12">
							<div class="x_panel">
								<div>
									<h2> Danh Sách Cá Giống Nổi bật</h2>
									<div class="clearfix"></div>
								</div>
								<div class="x_content">
									<div th:text="${successMessage}"
										th:if="${successMessage ne null}" class="alert alert-success"
										id="Alerbox"></div>

									<!-- start project list -->
									<table class="table table-striped projects">
										<thead>
											<tr>
												<th style="width: 1%">#</th>
												<th>Mã Cá Giống</th>
												<th style="width: 20%">Tên Cá Giống</th>
												<th>Hình Ảnh</th>
												<th>Số lượng</th>
												<th>Giá</th>
												<th style="width: 20%">Ngày Tạo</th>
												<th></th>
											</tr>
										</thead>
										<tbody>
											<tr th:if="${#lists.isEmpty(fishs)}">
												<h3>Không có dữ liệu</h3>

											</tr>
											<tr th:each="product,iterStat : ${fishs}">
												<td scope="row" th:text="${iterStat.count}"></td>
												<td th:text="${'00'+product.fish.id}"></td>
												<td th:text="${product.fish.name}"></td>
												<td>
													<ul class="list-inline">
														<li><img
															th:src="@{'~/uploads/'+${product.fish.image}}"
															width="100px" height="100px"></li>

													</ul>
												</td>

												<td th:text="${product.fish.quality}"></td>
												<td th:if=" ${product.fish.price} == 0 ">Liên hệ với
													trại giống</td>

												<td th:if="${product.fish.price} > 0 "
													th:text="${#numbers.formatDecimal(product.fish.price, 0, 'COMMA', 0, 'POINT')}"></td>

												<td th:text="${#calendars.format(product.fish.date,'dd/MM/yyyy')}"></td>					


												<td><a href="#"
													th:href="@{/Admin/ListFishTop/} + ${product.id}"
													class="btn btn-round btn-danger btn-delete"><i
														class="fa fa-trash-o"></i></a>
												</td>
											</tr>
										</tbody>
									</table>
									<!-- end project list -->
								</div>
							</div>

						</div>
					</div>
				<!-- /Kết thúc giao diện nổi bật -->
				
					<div class="row">
						<div class="col-md-12">
							<div class="x_panel">
								<div>
									<h2>Cá Giống Mới Nhất</h2>
									<div class="clearfix"></div>
								</div>
								<div class="x_content">
									
									<!-- start project list -->
									<table class="table table-striped projects">
										<thead>
											<tr>
												<th style="width: 1%">#</th>
												<th>Mã Cá Giống</th>
												<th style="width: 20%">Tên Cá Giống</th>
												<th>Hình Ảnh</th>
												<th>Số lượng</th>
												<th>Giá</th>
												<th style="width: 20%">Mô Tả</th>
											</tr>
										</thead>
										<tbody>
											<tr th:if="${#lists.isEmpty(fishTop)}">
												<h3>Không có dữ liệu</h3>

											</tr>
											<tr th:each="fishNew,iterStat : ${fishTop}">
												<td scope="row" th:text="${iterStat.count}"></td>
												<td th:text="${'00'+fishNew.id}"></td>
												<td th:text="${fishNew.name}"></td>
												<td>
													<ul class="list-inline">
														<li><img
															th:src="@{'~/uploads/'+${fishNew.image}}"
															width="100px" height="100px"></li>

													</ul>
												</td>

												<td th:text="${fishNew.quality}"></td>
												<td th:if=" ${fishNew.price} == 0 ">Liên hệ với
													trại giống</td>

												<td th:if="${fishNew.price} > 0 "
													th:text="${#numbers.formatDecimal(fishNew.price, 0, 'COMMA', 0, 'POINT')}"></td>

												<td th:text="${#calendars.format(fishNew.date,'dd/MM/yyyy')}"></td>					

											</tr>
										</tbody>
									</table>
									<!-- end project list -->
								</div>
							</div>

						</div>
					</div>
				
							<!-- /kết thúc giao diện cá giống mới -->
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				</div>

			</div>
			<!-- /page content -->

			<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
				aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLabel">Are You
								delete</h5>
							<button type="button" class="close" data-dismiss="modal"
								aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-footer">
							<a href="" type="button" class="btn btn-danger" id="btnDelteYes">Có</a>
							<button type="button" class="btn btn-default"
								data-dismiss="modal">Không</button>
						</div>
					</div>
				</div>
			</div>
			<!-- footer content -->
			<footer th:replace="Layout :: footer"></footer>
			<!-- /footer content -->
		</div>
	</div>

	<!-- jQuery -->
	<script src="../static/vendors/jquery/dist/jquery.min.js"
		th:src="@{/vendors/jquery/dist/jquery.min.js}"></script>

	<!-- Bootstrap -->
	<script
		src="../static/vendors/bootstrap/dist/js/bootstrap.bundle.min.js"
		th:src="@{/vendors/bootstrap/dist/js/bootstrap.bundle.min.js}"></script>


	<!-- bootstrap-progressbar -->
	<script
		src="../static/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"
		th:src="@{/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js}"></script>


	<!-- Custom Theme Scripts -->
	<script src="../static/vendors/custom.min.js"
		th:src="@{/vendors/custom.min.js}"></script>
	<script>
		$(document).ready(function() {
			$('#Alerbox').remove('hide');
			$('#Alerbox').delay(5000).slideUp(1500);

			$('.btn-delete').on('click', function (e) {
			    e.preventDefault();
			    var href =$(this).attr('href');
			    $('#myModal #btnDelteYes').attr('href',href);
			    $('#myModal').modal();
			});
		});
	</script>
</body>
</html>
